<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.hear2read.indic">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!--
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    -->
    <application
        android:name=".Startup"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".tts.FliteTtsService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.TTS_SERVICE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.speech.tts"
                android:resource="@xml/tts_engine"/>
        </service>

        <activity
            android:name=".ui.manager.FliteManagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--
                <activity
                    android:name=".DownloadVoiceData"
                    android:configChanges="orientation"
                    android:label="@string/flite_voice_manager"
                    android:theme="@android:style/Theme.Holo">
                    <intent-filter>
                        <action android:name="android.speech.tts.engine.INSTALL_TTS_DATA" />

                        <category android:name="android.intent.category.DEFAULT" />
                    </intent-filter>
                </activity>
        -->
        <activity
            android:name=".tts.CheckVoiceData"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.speech.tts.engine.CHECK_TTS_DATA"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".tts.GetSampleText"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.speech.tts.engine.GET_SAMPLE_TEXT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TTSDemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".ui.manager.FliteManagerActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.downloader.VoiceDownloadActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".ui.manager.FliteManagerActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- Legacy Code for pre-ICS compatibility -->

        <activity
            android:name=".Flite"
            android:enabled="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.START_TTS_ENGINE"/>

                <category android:name="android.intent.category.tts_engine.FLITE"/>
                <category android:name="android.intent.category.tts_lang.hin.IND"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".providers.SettingsProvider"
            android:authorities="org.hear2read.indic.providers.SettingsProvider"/>

        <activity
            android:name=".ui.FliteInfoActivity"
            android:label="@string/about_app"
            android:parentActivityName=".ui.manager.FliteManagerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.hear2read.indic.ui.TTSDemoActivity"/>
        </activity>


        <activity
            android:name=".util.SettingsActivity"
            android:label="Settings"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.speech.tts.engine.CONFIGURE_ENGINE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".TtsSettingsActivity"
            android:targetActivity="org.hear2read.indic.util.SettingsActivity" />
        <activity-alias
            android:name=".EngineSettings"
            android:targetActivity="org.hear2read.indic.util.SettingsActivity" />

<!--        <receiver
            android:name=".util.VoiceUpdateReceiver"
            android:exported="true">
            <intent-filter>
                <data android:scheme="package"/>

                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
            </intent-filter>
        </receiver>-->

        <!--1106 meta-data
            android:name="io.fabric.ApiKey"
            android:value="eec977393c995b5a09fe82e74b530c82347a238d"/ -->

        <activity android:name=".ui.EmailComposeActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>